<!DOCTYPE html>
<html>
<head>
 <title>Homepage</title>
</head>
<link rel="stylesheet" href="/static/css/index_css.css">
<body>
<div class="main">

   <div class="card">
      <div class="title">
       <h1>
         Administrator</h1>
      </div>
      <div class="image">
          <img src="/static/images/authorization.png">
       </div>
      <div class="des">
      <a href="/admin">
      <button>Click Here</button>
      </a>
      </div>
      </div>
<div class="card">
<div class="title">
 <h1>
Add Associate</h1>
</div>
<div class="image">
    <img src="/static/images/incorporation.png">
 </div>
<div class="des">
<a href="/add_user">
<button>Click Here</button>
</a>
</div>
</div>
<div class="card">
<div class="title">
   <h1>
      Upload  Data</h1>
 
</div>
<div class="image">
   <img src="/static/images/upload.png">
</div>
<div class="des">
   <a href="/upload_file">
<button>Click Here</button>
</a>
</div>
</div>
<div class="card">

<div class="title">
 <h1>
Add Leave</h1>
</div>

<div class="image">
   <img src="/static/images/calendar.png">
</div>
<div class="des">
   <a href="/leave1">
<button>Click Here</button>
</a>
</div>
</div>


<div class="card">


<div class="title">
 <h1>
Upload Leave File</h1>
</div>
<div class="image">
   <img src="/static/images/upload.png">
</div>
<div class="des">
   <a href="upload_file2">
<button>Click Here</button>
</a>
</div>
</div>

<div class="card">
   <div class="title">
<h1>
    Enter Billing Rate</h1>
   </div>
<div class="image">
   <img src="/static/images/billing.png">
</div>
<div class="des">
<button>Click Here</button>
</div>
</div>

<div class="card">
   <div class="title">
      <h1>
     Conversion Rate</h1>
     </div>
<div class="image">
   <img src="/static/images/exchange-rate.png">
</div>

<div class="des">
<button>Click Here</button>
</div>
</div>

<div class="card">
   <div class="title">
      <h1>
     Remove Associate</h1>
     </div>
<div class="image">
   <img src="/static/images/user.png">
</div>

<div class="des">
   <a herf="">
<button>Click Here</button>
</a>
</div>
</div>


<div class="card">
   <div class="title">
      <h1>
     Dashboard</h1>
     </div>
<div class="image">
   <img src="/static/images/analysis.png">
</div>

<div class="des">
<button>Click Here</button>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
